<div class="container">
  <div class="row">
    <h1>Editing User</h1>
  </div>
</div>
<% if current_user.has_role? :admin %>
  <%= render 'form', user: @user %>
<% else %>
  <%= render 'form', user: current_user %>
<% end %>



<div class="container">
  <div class="row">
    <div class="col-1">
      <% if current_user.has_role? :admin %>
        <%= link_to("back", users_path_url) %>
      <% else %>
        <%= link_to("back", show_user_path(current_user.id)) %>
      <% end %>
    </div>
  </div>
</div>

