<% if current_user.has_role? :admin %>

  <h1>New Category</h1>
  <%= render 'form', category: @category %>

  <%= link_to 'Back', categories_path %>
<% else %>
  <p> Non autorisé.</p>
  <%= link_to 'Liste des films', movies_path %>

<% end %>


